/* For information on how to create your own theme, please refer to:
http://ionicframework.com/docs/theming/ */

:root {
  --color-black-100: #3c3c3c;
  --color-black-80:  #585858;
  --color-black-60:  #aba4a4;
  --color-black-40:  #d6d6d6;
  --color-black-20:  #ededed;
  --color-white:     #ffffff;

  --color-bg-1: #a1c2f1;
  --color-bg-2: #cce1ff;
  --color-bg-3: #e5f0ff;
  --color-bg-4: #f2f7ff;

  --color-primary-1:   #0a6ebd;
  --color-primary-2:   #5a96e3;
  --color-secondary-1: #e7cea6;

  --color-green: #22cd22;
  --color-red:   #f45454;

  --ion-color-primary:              #0a6ebd;
  --ion-color-primary-rgb:          10, 110, 189;
  --ion-color-primary-contrast:     #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade:        #0961a6;
  --ion-color-primary-tint:         #237dc4;

  --ion-color-secondary:              #e7cea6;
  --ion-color-secondary-rgb:          231, 206, 166;
  --ion-color-secondary-contrast:     #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade:        #cbb592;
  --ion-color-secondary-tint:         #e9d3af;

  --ion-color-tertiary:              #5a96e3;
  --ion-color-tertiary-rgb:          90, 150, 227;
  --ion-color-tertiary-contrast:     #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade:        #4f84c8;
  --ion-color-tertiary-tint:         #6ba1e6;

  --ion-color-success:              #22cd22;
  --ion-color-success-rgb:          34, 205, 34;
  --ion-color-success-contrast:     #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade:        #1eb41e;
  --ion-color-success-tint:         #38d238;

  --ion-color-warning:              #ffc409;
  --ion-color-warning-rgb:          255, 196, 9;
  --ion-color-warning-contrast:     #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade:        #e0ac08;
  --ion-color-warning-tint:         #ffca22;

  --ion-color-danger:              #f45454;
  --ion-color-danger-rgb:          244, 84, 84;
  --ion-color-danger-contrast:     #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade:        #d74a4a;
  --ion-color-danger-tint:         #f56565;

  --ion-color-light:              #f2f7ff;
  --ion-color-light-rgb:          242, 247, 255;
  --ion-color-light-contrast:     #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade:        #d5d9e0;
  --ion-color-light-tint:         #f3f8ff;

  --ion-color-medium:              #aba4a4;
  --ion-color-medium-rgb:          171, 164, 164;
  --ion-color-medium-contrast:     #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade:        #969090;
  --ion-color-medium-tint:         #b3adad;

  --ion-color-dark:              #3c3c3c;
  --ion-color-dark-rgb:          60, 60, 60;
  --ion-color-dark-contrast:     #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade:        #353535;
  --ion-color-dark-tint:         #505050;

  --ion-background-color:     #f2f7ff;
  --ion-background-color-rgb: 242, 247, 255;
  --ion-text-color:           #3c3c3c;
  --ion-text-color-rgb:       60, 60, 60;
}